<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>东华行-联系我们</title>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
    <link rel="stylesheet" href="__CSS__/global.css" />
    <link rel="stylesheet" href="__CSS__/common.css" />
    <script type="text/javascript" src="__JS__/jquery_1.11.3.min.js" ></script>
    <script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
    <script type="text/javascript" src="__JS__/global.js" ></script>
</head>
<body class="bgf3f3f3">
	<div class="container">
		<!--<div class="row">-->
			<!--<div class="col-xs-12 header text-center c-ffffff fs-18 bgff7c2c goods-head">-->
				<!--<a href="javascript:window.history.go(-1);" class="com-top-left"><span class="glyphicon glyphicon-menu-left"></span></a>-->
				<!--联系我们-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="headbox"></div>-->
		<div class="row bgfff">
			{$data.value}

		</div>
	</div>
	
	</body>
</html>
