<layout name="LigerUI/form" />
<script>
var ligerFormFields = [
    { display: "模型名称", name: "name", newline: true, type: "text", validate: { required: true}, afterContent: '不能包含特殊字符' },
    { display: "数据表名", name: "tbl_name", newline: true, type: "text", validate: { required: true}, afterContent: '存放该模型的数据表名称，只能由"_"、a~z组成' },
    { display: "主菜单名", name: "menu_name", newline: true, type: "text", validate: { required: true}, afterContent: '用于在主菜单和子菜单上显示，比如"文章"，系统则会生成"文章管理"菜单' },
    { display: "是否为内部表", name: "is_inner", newline: true, type: "select", validate: { required: true },
        options: {
            data: [{"id":1, "text":"是"}, {"id":0, "text":"否"}],
            textField: 'text',
            valueField: 'id'
        },
        afterContent: '内部表将不会被显示在菜单上'
    },
    { display: "引擎类型", name: "tbl_engine", newline: true, type: "select", validate: { required: true },
        options: {
            data: [
                    {"id":"MyISAM", "text":"MyISAM"},
                    {"id":"InnoDB", "text":"InnoDB"},
                    {"id":"MEMORY", "text":"MEMORY"},
                    {"id":"BLACKHOLE", "text":"BLACKHOLE"},
                    {"id":"MRG_MYISAM", "text":"MRG_MYISAM"},
                    {"id":"ARCHIVE", "text":"ARCHIVE"}
                ],
            textField: 'text',
            valueField: 'id'
        }
    },
    { display: "模型描述", name: "description", newline: true, type: "textarea", afterContent: "模型的注释，同时也会作为表的注释" },
    { name: 'has_pk', type: 'hidden' }
];

$(function() {
    $.fn.{$js_prefix}form({
        title: '数据模型',
        type : 'page',
        fields: ligerFormFields,
        data: {:djson_encode($row)}
    });
});
</script>
