<layout name="LigerUI/list" />
<script type="text/javascript">
var grid_columns  = [
    { display: 'ID', name: 'id', width: 50, frozen: true},
    { display: '黄牛公司名', name: 'name',  width: 200, isSort: false },
    { display: '车牌号', name: 'platenum', width: 120, isSort: false },
    { display: '手机号', name: 'phone', width: 150, isSort: false },
    { display: '地址', name: 'address', width: 200, isSort: false },
    { display: '备注', name: 'remark', width: 200, isSort: false },
    { display: '图片', name: 'img', width: 100, isSort: false ,
        render: function (item)
        {
            if(item.img != ''){
                return "<img width='50px;height:50px;' src='__PUBLIC__/" + item.img + "'/>";
            }else{
                return '无';
            }
        }
    },
    { display: '状态', name: 'status', width: 100, isSort: false,render:function(item){
         if (parseInt(item.status) == 1) return '已启用';
            return '已禁用';
        }
    },

    { display: '操作', isSort: false, width: 80, render: function (rowdata, rowindex, value)
        {
            var h = '';
            h += '<a href="javascript:toggle_status(' + rowdata.id + ', ' + rowdata.status + ' );" class="js-toggle">';
            h += rowdata.status == 1 ? '禁用' : '启用';
            h += '</a>';
//        h += ' | <a href="javascript:show(' + rowdata.wire_id +  ', \'' + rowdata.wire_name + '\');" class="js-toggle" data-name="' + rowdata.title + '" data-id="' + rowdata.id + '" data-status="' + rowdata.status + '">';
//            h += '查看';
//            h += '</a>';
            return h;
        }
    }
];

$(function() {
    $.fn.{$js_prefix}list({
        title: '黄牛',
        grid_columns: grid_columns,
        rownumbers: false,  //行号
        checkbox: false,   //多选框
//        identity_key: 'wire_id',
//        toolbar_has_view : true,
        form_dialog_width: 550
    });
});

function toggle_status(id, status, name) {
    var url = "{:U('Cattle/toggleStatus')}";
    var parms = {'id': id, 'status': status};

    window.parent.$.ligerDialog.confirm('您确定'+ (status == 1 ? '禁用' : '启用') + "吗？", function(yes) {
        if(!yes) return;
        $.post(url, parms,
            function(json) {
                console.log(json);
                if(!json.status) {
                    window.parent.$.ligerDialog.warn(json.info);
                    return;
                }
                window.parent.$.ligerDialog.success(json.info, '提示', function() {
                    window.parent.{$js_prefix}grid.reload();
                    window.parent.{$js_prefix}dialog.close();
                });
            }
        );
    });

    return false;
}


</script>