<script type="text/javascript">var cookie_prefix = '{:C('COOKIE_PREFIX')}', cookie_domain = '', cookie_path = '/', cookie_secure = false, admin_defult_url = '{:U('Public/index')}';</script>
<script type="text/javascript" src="__PUBLIC__/Admin/jquery/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/ligerUI/js/ligerui.all.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/ligerUI/js/plugins/ligerTab.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/json2.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/jquery-validation/jquery.metadata.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/jquery-validation/messages_cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
<!-- <script type="text/javascript" src="{:U('Index/select_data')}"></script>  -->